@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');  


@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-Thin.ttf') format('truetype');
  font-weight:100;
}
@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-UltraLight.ttf') format('truetype');
  font-weight:200;
}
@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-Light.ttf') format('truetype');
  font-weight:300;
}
@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight:400;
}
@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight:500;
}
@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-SemiBold.ttf') format('truetype');
  font-weight:600;
}
@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight:700;
}
@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-ExtraBold.ttf') format('truetype');
  font-weight:800;
}




.main-container {
  display: flex;
  width: 100%;
  background-color: #1e1e1e;
  height: auto;
  flex-direction: column;
  padding: 70px;
}

.header-container {
  display: flex;
  background-color: none;
  height: auto;
  width: 100%;
  padding: 20px;
  margin-top: 100px;
  align-items: center;
  justify-content: left;
  
}

.header-container a {
  font-size: 90px;
  color: white;
  margin-left: 14px;
  font-weight: 400;
}

.text-container {
  display: flex;
  background-color: none;
  height: auto;
  width: 100%;
  flex-direction: column;
  margin-top: 30px;
}

.text-container a {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 149%;
  color: white;
}

.text-container p {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 149%;
  color: white;

  margin-top: 10px;
}


