.main-container {
  display: flex;
  width: 100%;
  background-color: #1e1e1e;
  height: auto;
  flex-direction: column;
  padding: 70px;
}

.header-container {
  display: flex;
  background-color: transparent;
  height: auto;
  width: 100%;
  padding: 20px;
  margin-top: 100px;
  align-items: center;
  justify-content: left;
}

.header-container p {
  font-size: 140px;
  font-family: "Gilroy";
  opacity: 0.2;
  font-weight: 800;
  position: absolute;
  background-image: url("../../src/assets/img/about-page/clip.png");
  background-clip: text;
  -webkit-background-clip: text; /* Safari/Chrome */
  color: transparent;
  z-index: 1;
  background-position: 800px CENTER;  
}

.header-container span {
  font-size: 240px;
  font-family: "Gilroy";
  opacity: 0.2;
  font-weight: 800;
  position: absolute;
  background-image: url("../../src/assets/img/about-page/clip.png");
  background-clip: text;
  -webkit-background-clip: text; /* Safari/Chrome */
  color: transparent;
  z-index: 1;
  background-position: right CENTER;  
}

.header-container a {
  font-size: 90px;
  color: white;
  margin-left: 14px;
  font-weight: 400;
}

.text-container {
  display: flex;
  background-color: none;
  height: auto;
  width: 100%;
  flex-direction: column;
  margin-top: 30px;
}

.text-container a {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 149%;
  color: white;
}

.text-container p {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 149%;
  color: white;

  margin-top: 10px;
}

.text-filled-with-image {
  font-size: 60px;
  background-image: url("../../src/assets/img/about-page/community.webp");
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


@media only screen and (max-width: 768px) {
  .header-container {
    display: flex;
    background-color: transparent;
    height: auto;    
    max-width: 300px;
    padding: 0px;
    margin-top: 80px;
    align-items: center;
    justify-content: flex-start;
  }

  .header-container span{
    position: absolute;
    line-break:normal;
    width: fit-content;
    padding: none;
    word-break: break-all;
    line-height: 1.2;    
    font-size: 200px;
    margin-top: 550px;
    left: 0;
  }

  .header-container p{
    position: absolute;
    line-break:normal;
    width: fit-content;
    padding: none;
    word-break: break-all;
    line-height: 1.2;   
    top: 0; 
    left: 0;
    font-size: 120px;
    margin-top: 80px
  }

  .header-container a{
    font-size: 40px;
  }

  .text-container a{
    font-size: 35px;


  }

  .text-container p{
    font-size: 16px;
  }
}
