.main-container-h {
  display: flex;
  width: 100%;
  height: auto;
  padding: 50px;
  padding-bottom: 0px;
  justify-content: center;
  box-shadow: none;
  min-height: 96.5vh;
}

.home-container {
  display: flex;
  background-color: transparent;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  box-shadow: none;
  flex-direction: column;
  align-items: center;
  gap: 160px;
}

.dash-container {
  display: flex;
  background-color: transparent;
  width: auto;
  height: auto;
  justify-content: center;
  box-shadow: none;
  margin-top: 60px;
  gap: 40px;  
}

.bottom-container-h { 
  align-self: baseline;
  display: flex;
  background-color: transparent;  
  height: auto;
  width: 100%;
  justify-content: center;
  box-shadow: none;
}

.social-container1 {
  width: 180px;
  height: auto;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  opacity: 0.45;
  transition: opacity 0.3s ease-in-out;  
}

.icon:hover {
  opacity: 1;
}


@media only screen and (max-width: 480px) {
  .home-container {    
    gap: 80px;
  }

  .dash-container{
    overflow-x: scroll;
    max-width: 390px;
    height: 700px;
    display: flex;
    align-items: center;
    margin-top: 0px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 20px;
    scroll-behavior: smooth;
  }

  .main-container-h{
    min-height: none;
    max-height: 900px;
    padding: none;
  }
}

