@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');  
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: Gilroy;
      font-weight: 800;
      src: url(fonts/Gilroy/Gilroy-ExtraBold.otf) format("otf");
    }
    @font-face {
      font-family: Gilroy;
      font-weight: 300;
      src: url(/src/fonts/Gilroy/Gilroy-Light.otf) format("otf");
    }
  }
ion-icon {
    font-size: 
    24px;
  }
html {
    scroll-behavior: smooth;
    background-color: #141414;
    padding: 0;
    margin: 0;
  }
